.containerFilters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.containerFilters h3 {
  margin-bottom: 1rem;
}

.containerFilters div  {
  display: flex;
}

.containerFilters div label {
  margin-left: 1rem;
}