.containerCreateTaskModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: auto;
  margin-top: 10rem;
  background-color: white;
  border-radius: 1rem; 
}

.containerCreateTaskModal h2 {
  margin-top: 1rem;
}

.containerCreateTaskModal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}