.containerDeleteTaskModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: auto;
  margin-top: 10rem;
  padding: 3rem;
  background-color: white;
  border-radius: 1rem; 
}

.containerDeleteTaskModal h2 {
  text-align: center;
}

.containerDeleteTaskModal .containerButtons {
  width: 100%;
  margin-top: 2.5rem;
  text-align: center;
}